.frame.calculator {
	width: 200px;
}

.calculator>.content {
	height: 300px;
	background-color: #594F4F;
	border-radius: 0px 0px 8px 8px;
}

.calculator .controllers {
	background-color: #594F4F;
	border-radius: 8px 8px 0px 0px;
}

.button {
	width: 50px;
	height: 50px;
	float: left;
	text-align: center;
	padding-top: 15px;
	cursor: pointer;
	color: white;
}

.button img {
	width: 22px;
	height: 22px;
	color: white;
}

#screen {
	height: 50px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
    color: white;
    font-size: 35px;
    text-align: right;
    padding: 2px 11px;
	background-color: #594F4F;
	color: #E0E4CC;
}

#point {
	padding-right: 50px;
	font-size: 30px;
	padding: 1px;
}

#zero {
	width: 100px;
}

#zero {
	padding-right: 50px;
	border-radius: 0px 0px 0px 5px;
}

#nine {
	border-radius: 0px 6px 0px 0px;
}

.number {
	background-color: #F38630;
	color: #E0E4CC;
}

.fun {
	background-color: #594F4F;
	color: #E0E4CC;
}

.blink {
	animation-name: blink;
	animation-duration: 0.15s; 
}

@keyframes blink {
	0% {
		/*background-color: rgba(0,0,0,0);*/
		opacity: 1;
	}
	50% {
		/*background-color: rgba(0,0,0,0.1);*/
		opacity: 0.7;
	}
	100% {
		/*background-color: rgba(0,0,0,0);*/
		opacity: 1;
	}
}