html, body {
	margin: 0;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	color: #737373;
	font-family: 'Roboto', sans-serif;
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none;   /* Chrome/Safari/Opera */
	  -khtml-user-select: none;    /* Konqueror */
	  -moz-user-select: none;      /* Firefox */
	  -ms-user-select: none;       /* Internet Explorer/Edge */
	  user-select: none;           /* Non-prefixed version, currently not supported by any browser */
  	outline: 1px solid transparent !important;
}

* {
	position: relative;
	box-sizing: border-box;
}

main {
	width: 100%;
	height: 100%;
	z-index: 1000;
}

.nav-items-group {
	color: #737373 !important;
	padding: 11px 0px;
}

.nav-items-group span {
	padding-right: 0px;
}

aside {
	height: 100%;
	width: 120px;
	background-color: rgb(235,235,235);
	position: absolute;
	top: 0px;
	padding-top: 50px;
	z-index: 10;
	left: -130px;
	animation-duration: 0.4s;
	animation-fill-mode: forwards;
	box-shadow: 0px 0px 1px 1px rgb(200, 200, 200);
}

aside.open { animation-name: openAside; }
aside.close { animation-name: closeAside; }

@keyframes openAside {
	0% { left: -130px; }
	100% { left: 0px; }
}

@keyframes closeAside {
	0% { left: 0px; }
	100% { left: -130px; }
}

nav {
	height: 40px;
	width: 100%;
	background-color: rgb(235,235,235);
	z-index: 100;
	box-shadow: 0px 0px 1px 1px rgb(200, 200, 200);
}

nav span, nav i {
	cursor: pointer;
}

nav i {
	font-size: 24px !important;
}

#add-module {
	height: 40px;
	width: 40px;
}

#calculator-add {
	margin-top: 50px;
}

.module {
	padding: 0px 10px 10px 10px;
	cursor: pointer;
}

#aside-close {
	width: calc(100% - 120px);
	background-color: transparent;
	height: calc(100% - 40px);
	right: 0px;
	position: absolute;
	z-index: 1000;
	display: none;
}

.hide {
	display: none;
}

button {
	border: none;
	background-color: white;
	cursor: pointer;
}

.scrollbar-hide::-webkit-scrollbar {
	width: 0px !important;
}

.right {
	float: right;
}

.left {
	float: left;
}

.controllers {
	cursor: move;
}

.hamburger {
	display: inline-block;
	width: 20px;
	height: 2px;
	float: left;
	position: absolute;
	background-color: #737373;
	margin: 0px 10px 5px 10px;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;	
}

#hamburger-1 {
	margin-top: 13px;
	transform: rotateZ(0deg) translate(0px, 0px);
}

#hamburger-2 {
	margin-top: 19px;
	opacity: 1;
}

#hamburger-3 {
	margin-top: 25px;
	transform: rotateZ(0deg) translate(0px, 0px);
}

.hamburger-1-close { animation-name: hamburgerOne; }
.hamburger-2-close { animation-name: hamburgerTwo; }
.hamburger-3-close { animation-name: hamburgerThree; }

.hamburger-1-open { animation-name: hamburgerOneOpen; }
.hamburger-2-open { animation-name: hamburgerTwoOpen; }
.hamburger-3-open { animation-name: hamburgerThreeOpen; }

@keyframes hamburgerOne {
	0% { transform: rotateZ(0deg) translate(0px, 0px); }
	100% { transform: rotateZ(45deg) translate(5px, 5px); }
}

@keyframes hamburgerTwo {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

@keyframes hamburgerThree {
	0% { transform: rotateZ(0deg) translate(0px, 0px); }
	100% { transform: rotateZ(-45deg) translate(4px, -4px) }
}

@keyframes hamburgerOneOpen {
	0% { transform: rotateZ(45deg) translate(5px, 5px); }
	100% { transform: rotateZ(0deg) translate(0px, 0px); }
}

@keyframes hamburgerTwoOpen {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes hamburgerThreeOpen {
	0% { transform: rotateZ(-45deg) translate(4px, -4px); }
	100% { transform: rotateZ(0deg) translate(0px, 0px); }
}

#settings-btn {
	position: absolute;
	top: 0px;
	right: 0px;
	margin: 8px;
	transition: transform 0.5s;
}

#settings-btn:hover {
	transform: rotateZ(45deg);
}