html, body {
	margin: 0;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	color: #737373;
	font-family: 'Roboto', sans-serif;
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none;   /* Chrome/Safari/Opera */
	  -khtml-user-select: none;    /* Konqueror */
	  -moz-user-select: none;      /* Firefox */
	  -ms-user-select: none;       /* Internet Explorer/Edge */
	  user-select: none;           /* Non-prefixed version, currently not supported by any browser */
}

* {
	position: relative;
	box-sizing: border-box;
}

main {
	width: 100%;
	height: 100%;
	z-index: 1000;
}

.nav-items-group {
	color: #737373 !important;
	padding: 10px 0px;
}

.nav-items-group span {
	padding-right: 0px;
}

aside {
	height: 100%;
	width: 120px;
	background-color: rgb(235,235,235);
	position: absolute;
	top: 0px;
	padding-top: 50px;
	z-index: 10;
	left: -130px;
	animation-duration: 0.4s;
	animation-fill-mode: forwards;
	box-shadow: 0px 0px 1px 1px rgb(200, 200, 200);
}

aside.open { animation-name: openAside; }
aside.close { animation-name: closeAside; }

@keyframes openAside {
	0% { left: -130px; }
	100% { left: 0px; }
}

@keyframes closeAside {
	0% { left: 0px; }
	100% { left: -130px; }
}

nav {
	height: 40px;
	width: 100%;
	background-color: rgb(235,235,235);
	z-index: 100;
	box-shadow: 0px 0px 1px 1px rgb(200, 200, 200);
}

nav span, nav i {
	color: rgb(170,170,170);
	cursor: pointer;
}

nav i {
	font-size: 24px !important;
}

#add-module i {
	padding: 8px 10px;
}

#calculator-add {
	margin-top: 50px;
}

.module {
	padding: 0px 10px 10px 10px;
	cursor: pointer;
}

#aside-close {
	width: calc(100% - 250px);
	background-color: transparent;
	height: calc(100% - 40px);
	right: 0px;
	position: absolute;
	z-index: 1000;
	display: none;
}

.hide {
	display: none;
}

button {
	border: none;
	background-color: white;
	cursor: pointer;
}

.scrollbar-hide::-webkit-scrollbar {
	width: 0px !important;
}

.right {
	float: right;
}

.left {
	float: left;
}

.controllers {
	cursor: move;
}