.frame {
	background-color: rgb(200, 200, 200);
	border-radius: 8px;
	position: absolute;
	z-index: 5;
	box-shadow: 0px 1px 3px 1px rgb(180, 180, 180);
}

.controllers {
	height: 21px;
}

.close-module, .skin-change {
	float: right;
}

.close-module>i, .skin-change>i {
	font-size: 15px;
	color: white;
	padding: 2px;
	cursor: pointer;
}

.content {
	overflow: hidden;
	clear: both;
}

.open-module {
	animation-name: openModule;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}

@keyframes openModule {
	0% { transform: scale(0.1); opacity: 0 }
	100% { transform: scale(1); opacity: 1 }
}

.close-module-anim {
	animation-name: closeModule;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}

@keyframes closeModule {
	0% { transform: scale(1); opacity: 1 }
	100% { transform: scale(0.1); opacity: 0 }
}

.controllers {
	max-height: 0px;
	overflow: hidden;
	transition: max-height 0.3s;
	transition-delay: 0.1s;
}

.frame:hover .controllers {
	max-height: 21px;
}