/* Sticky Notes */

.sticky {
	width: 200px;
	overflow: hidden;
}

.sticky .contenteditable {
	outline: 0px solid transparent;
	padding: 5px 7px 5px 8px;
	line-height: 1.35;
	text-align: left;
}

.sticky .controllers i {
	top: 0px;
}