.tally {
	width: 200px;
	border-radius: 3px;
	overflow: hidden;
}

.tally .contenteditable {
	outline: 0px solid transparent;
	padding: 3px 7px 4px 7px;
}

.tally-btn {
	border-radius: 3px;
	width: 24px;
	height: 24px;
	margin: 3px 6px 6px 6px;
	cursor: pointer;
}

.tally .content {
	padding: 4px;
}

.tally-count {
	font-size: 20px;
    margin: 2px auto;
    text-align: center;
    width: calc(100% - 72px);
    display: inline-block;
}

.tally-btn>i {
	right: 6px;
	bottom: 1px;
	position: relative;
}

.tally {
	color: #EEEEEE;
}

.tally .tally-btn {
	background-color: #EEEEEE;
	position: relative;
}