.tally {
	background-color: #2196F3;
	width: 200px;
	border-radius: 3px;
	overflow: hidden;
	color: #EEEEEE;
}

.tally .contenteditable {
	outline: 0px solid transparent;
	padding: 0px 7px 9px 7px;
}

.tally-btn {
	color: #2196F3;
	background-color: #EEEEEE;
	border-radius: 100%;
	width: 24px;
	height: 24px;
	margin: 3px 6px 6px 6px;
	cursor: pointer;
}

.tally .content {
	padding: 4px;
}

.tally-count {
	font-size: 20px;
    margin: 2px 4px;
    text-align: center;
    width: 110px;
    display: inline-block;
}

.tally-btn>i {
	right: 5px;
	bottom: 1px;
}