.timer {
	width: 250px;
	border-radius: 3px;
	overflow: hidden;
}

.timer>.content {
	padding: 5px 7px 5px 8px;
	height: 120px;
	height: 80px;
}

.timer .contenteditable {
	outline: 0px solid transparent;
	padding: 3px 7px 9px 7px;
}

.timer-btn {
	width: 38px;
	height: 38px;
	font-size: 10px;
	border-radius: 100%;
	float: left;
}

.start-pause-timer {
	float: right;
}

.stop-timer {
	z-index: 10;
}

.timer-picker {
	width: 140px;
	float: left;
	margin: 3px 9px;
}

.timer-remainder {
	display: none;
	position: absolute;
	font-size: 26px;
	padding: 4px 0px;
	width: 236px;
	text-align: center;
}

.timer-input {
	width: 58px;
	margin: 3px 5px;
	padding: 4px 8px;
	border-radius: 4px;
}

input {
	font-family: 'Roboto', sans-serif;
	border: none;
}