.tracker {
	color: #EEEEEE;
}

.tracker .contenteditable {
	outline: 0px solid transparent;
	padding: 3px 7px 2px 6px;
}

.tracker-btn {
	border-radius: 100%;
	width: 20px;
	height: 20px;
	margin: 4px 6px 6px 6px;
	cursor: pointer;
}

.tracker .content {
	padding: 4px;
}

.tracker-count {
	font-size: 22px;
    margin: 2px 4px;
    width: 180px;
    display: inline-block;
}

.tracker-btn>i {
	right: 6px;
	bottom: 1px;
	font-size: 20px;
}

.tracker .tracker-btn {
	background-color: #EEEEEE;
}
