.tracker {
	background-color: #3F51B5;
	width: 232px;
	border-radius: 3px;
	overflow: hidden;
	color: #EEEEEE;
}

.tracker .contenteditable {
	outline: 0px solid transparent;
	padding: 0px 7px 2px 6px;
}

.tracker-btn {
	color: #3F51B5;
	background-color: #EEEEEE;
	border-radius: 100%;
	width: 20px;
	height: 20px;
	margin: 4px 6px 6px 6px;
	cursor: pointer;
}

.tracker .content {
	padding: 4px;
}

.tracker-count {
	font-size: 22px;
    margin: 2px 4px;
    width: 180px;
    display: inline-block;
}

.tracker-btn>i {
	right: 6px;
	bottom: 1px;
	font-size: 20px;
}