.tracker {
	color: #EEEEEE;
	width: 220px;
}

.tracker .contenteditable {
	outline: 0px solid transparent;
	padding: 3px 7px 2px 6px;
}

.tracker .content {
	padding: 4px;
}

.tracker-count {
	font-size: 22px;
    margin: 2px 4px;
    display: block;
    text-align: center;
    cursor: pointer;
}